tinyproxy\.stats
pkg\.jenkins\.io
fedoraproject\.org
amazonaws\.com
aws.amazon\.com
puppetlabs\.com
puppet\.com
mozilla\.org
ltb-project\.org
perl\.org
yum\.oracle\.com
archive\.ubuntu\.com
security\.ubuntu\.com
